@import './0-helpers/_functions.scss';
@import './0-helpers/_mixins.scss';
@import './0-helpers/_structures.scss';
@import './0-helpers/_variables.scss';
@import './1-base/_base.scss';
@import './2-layouts/footer.scss';
@import './2-layouts/header.scss';
@import './3-pages/home.scss';
@import './3-pages/friends.scss';
@import './3-pages/signInSignUp.scss';
@import './4-components/blogList.scss';
@import './4-components/blogView.scss';
@import './4-components/sign-up.scss';
@import './4-components/aboutMe.scss';
