


.navbar-main {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2vh 2vw 2vh 0;
  width: 100vw;
  margin: 0px 0vw 1.3vh 0vw;
  z-index: 10;
  background-color: rgba(204, 204, 204, 0.0001);
  box-shadow: 0 0 20px 0 #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  text-transform: capitalize;
  transition: transform 400ms cubic-bezier(.25,.37,.17,.96);
  transition: all 0.3s ease-out;
  background-blend-mode: darken;
  ;
  
  ul {
    display: flex;
    margin: 0;
    margin-right: 3vw !important;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    
    li {
      //padding-bottom: 3px;
      list-style: none;
      margin: 0 3vw;
      justify-content: center;
        align-items: center;
  
        @media(min-width: 700px) {
          margin: 0 1vw;
        }
  
        
      }
    }
  } 
.navbar-link{
  font-size: 20px !important;
  align-self: center;
  padding: 70px, auto; 
  margin: auto;
  font-style: italic;
  @include link-styling($prime_01, $prime_01, $prime_03);
  transition: all .2s ease-in-out;
  &:hover {
    text-decoration: overline;
    transform: scale(1.2);
  }
}

.login{
  padding-left: 10px;
  color: $grey_06 !important;
}

.modal{
  position: absolute;
  right: 0;
}